.btn {
  max-width: 156px;
  padding: 16px 59px;
  background-color: var(--shark-black);
  border-radius: 8px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: var(--light-color);
  text-transform: initial;
}
