.btn {
  display: inline-block;
  position: relative;
  overflow: hidden;
  max-width: 156px;
  width: 100%;
  padding: 16px 24px;
  padding-left: 62px;
  background-color: var(--shark-black);
  border-radius: 8px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: var(--light-color);
  text-transform: initial;

  @include hover {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 200%;
      opacity: 0.5;
      filter: blur;
      background: var(--btn-gradient-color);
      transform: translate(-100%, -25%) rotate(10deg);
      animation: shine 4s infinite;
    }
  }

  @keyframes shine {
    0% {
      transform: translate(-100%, -25%) rotate(10deg);
    }
    20% {
      transform: translate(100%, -25%) rotate(10deg);
    }
    100% {
      transform: translate(100%, -25%) rotate(10deg);
    }
  }
}
