.case {
  background-color: var(--main-black);

  &__title {
    margin-bottom: 36px;
  }

  &__wrapper {
    @include flex-all-center;

    margin-bottom: 120px;
  }

  &__image {
    @include updown;

    display: block;
    margin-right: 80px;
    animation: updown 2s infinite;

    @include mobile {
      display: block;
      animation: none;
      transform: translateX(-50px);
      margin-right: 0;
    }
  }

  &__content {
    max-width: 242px;

    @include mobile {
      max-width: 60%;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 46px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--text-color);
  }

  &__btn {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 25px;
      width: 25px;
      height: 25px;
      transform: translateY(-50%);
      background-image: url(../img/info-btn.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }
}
