.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 42px 0;
  background-color: var(--main-black);

  &__container {
    @include flex-all-sb;
  }

  &__nav {
    display: flex;
    align-items: center;

    @include tablet {
      position: fixed;
      top: 0;
      left: 0;
      overflow-y: auto;
      width: 80%;
      padding: 50px;
      height: 100vh;
      display: block;
      z-index: 1000;
      background-color: var(--woodsmoke-color);
      transform: translateX(-100%);
      transition: transform 0.3s ease;

      &.menu--active {
        transform: none;
      }
    }
  }

  &__btn {
    padding: 16px 59px;
  }
}
