.hero {
  background-color: var(--main-black);
  min-height: 720px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 131px;

    @include small-tablet {
      flex-direction: column;
      align-items: center;
    }

    @include mobile {
      padding-top: 120px;
      margin-bottom: 86px;
    }
  }

  &__image {
    display: block;
    position: absolute;
    top: 0;
    z-index: 10;

    @include small-tablet {
      top: -150px;
      right: 0;
    }
  }

  &__content {
    max-width: 488px;
    flex-grow: 1;
    z-index: 15;
  }

  &__title {
    margin: 0;
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    color: var(--gray-color);

    @include mobile {
      font-size: 40px;
      line-height: 60px;
      margin-bottom: 40px;
    }
  }

  &__gradient {
    @include updown;

    display: block;
    padding-left: 50px;
    font-weight: 600;
    font-size: 120px;
    line-height: 96px;
    animation: updown 2s infinite;

    @include small-tablet {
      padding-left: 20px;
    }

    @include mobile {
      font-size: 80px;
      line-height: 96px;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--gray-color);

    @include mobile {
      font-size: 18px;
      line-height: 27px;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 39px;
    max-width: 398px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--text-color);

    @include mobile {
      margin-bottom: 51px;
    }
  }

  &__btn {
    max-width: 248px;
    padding: 12px 19px;
    padding-left: 60px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 22px;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      background-image: url(../img/bag-icon.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }

  &__num {
    padding-left: 13px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--light-color);
  }

  &__parthers {
    @include flex-all-sb;

    flex-wrap: wrap;
  }

  &__parthers-item {
    @include mobile {
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }

  &__parthers-link {
    display: block;

    &:focus {
      outline: 2px solid var(--light-color);
      outline-offset: 10px;
    }
  }
}
