<section class="case section-offset">
  <div class="container">
    <h2 class="case__title title text-gradient">Case</h2>
    <div class="case__wrapper">
      <picture>
        <source media="(min-width: 576px)" srcset="img/case-image_2x.webp 2x" type="image/webp">
        <source media="(max-width: 575px)" srcset="img/case-image.webp" type="image/webp">
        <source srcset="img/case-image.webp" type="image/webp">
        <img loading="lazy" src="img/case-image.png" srcset="img/case-image__2x.png 2x" class="case__image" width="300"
          height="419" alt="Black case with red logo">
      </picture>
      <div class="case__content">
        <p class="case__descr">With a comfortable and adaptable case so that you can store it whenever you want, and
          keep
          your durability forever.</p>
        <button class="case__btn btn btn-reset">More info</button>
      </div>
    </div>
  </div>
</section>
