<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <a class="footer__logo logo" title="Beats 3 Comfort Headphones">
        <img class="logo__image" src="img/logo.svg" alt="Beats 3 Logo" loading="lazy" width="32" height="32">
      </a>
      <nav class="footer__nav footer-nav" title="Second Navigation">
        <div class="footer-nav__col">
          <h2 class="footer-nav__title">Products</h2>
          <ul class="footer-nav__list list-reset">
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#0">Headphones</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#0">Earphones</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#0">Earbuds</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#0">Accessories</a>
            </li>
          </ul>
        </div>
        <div class="footer-nav__col">
          <h2 class="footer-nav__title">Support</h2>
          <ul class="footer-nav__list list-reset">
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#0">Product help</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#0">Register</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#0">Updates</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#0">Provides</a>
            </li>
          </ul>
        </div>
      </nav>
      <form class="footer__form footer-form">
        <div class="footer-form__wrapper">
          <label class="footer-form__label">
            <input class="footer-form__input input-reset" type="email" placeholder="Email">
          </label>
          <button class="footer-form__btn btn  btn-reset" type="submit">Subscribe</button>
        </div>
        <ul class="footer-form__list list-reset">
          <li class="footer-form__item">
            <a class="footer-form__link" href="#0" target="_blank" aria-label="facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-form__item">
            <a class="footer-form__link" href="#0" target="_blank" aria-label="twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="footer-form__item">
            <a class="footer-form__link" href="#0" target="_blank" aria-label="insta">
              <svg>
                <use xlink:href="img/sprite.svg#insta"></use>
              </svg>
            </a>
          </li>
          <li class="footer-form__item">
            <a class="footer-form__link" href="#0" target="_blank" aria-label="linkedin">
              <svg>
                <use xlink:href="img/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </form>
    </div>
    <small class="footer__copy">© Agara. All rights reserved</small>
  </div>
</footer>
