<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>Beats 3</title>
  <meta name="description"
    content="Experience exceptional audio quality with Beats 3 headphones. Immerse yourself in your favorite music, podcasts, and movies with these stylish and powerful headphones. Our Beats 3 collection offers the perfect blend of comfort, durability, and cutting-edge technology. Shop now and elevate your listening experience to new heights.">
  <meta name="keywords" content="headphones, audio, music, Beats 3, online store, stylish, shop, audio equipment">
  <meta name="robots" content="index, follow">
  <meta name="author" content="Beats 3">
  <link rel="preload" href="fonts/PoppinsRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/PoppinsBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/PoppinsSemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
