<header class="header">
  <div class="header__container container-fluid">
    <a class="header__logo logo" title="Beats 3 Comfort Headphones">
      <img class="logo__image" src="img/logo.svg" alt="Beats 3 Logo" loading="lazy" width="32" height="32">
    </a>
    <div class="header__nav">
      <nav class="nav" title="Main navigation">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Specs</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Case</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Products</a></li>
        </ul>
      </nav>
      <a class="header__btn btn btn-reset" href="#">Shop</a>
    </div>
  </div>
</header>
