<section class="hero section-offset">
  <div class="container">
    <div class="hero__wrapper">
      <picture>
        <source media="(min-width: 576px)" srcset="img/hero-image_2x.webp 2x" type="image/webp">
        <source media="(max-width: 575px)" srcset="img/hero-image.webp" type="image/webp">
        <source srcset="img/hero-image.webp" type="image/webp">
        <img loading="lazy" src="img/hero-image.png" srcset="img/hero-image__2x.png 2x" class="hero__image" width="300"
          height="702" alt="Beats 3 in black" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="800">
      </picture>
      <div class="hero__content">
        <h1 class="hero__title"> <span class="hero__gradient text-gradient">On ear</span> Beats 3</h1>
        <h2 class="hero__subtitle">Overview</h2>
        <p class="hero__descr">Enjoy award-winning Beats sound with wireless listening freedom and a sleek, streamlined
          design with comfortable padded earphones, delivering first-rate playback.</p>
        <button class="hero__btn btn btn-reset" aria-label="add to bag">
          Add to Bag
          <span class="hero__num">N399K</span>
        </button>
      </div>
    </div>
    <ul class="hero__parthers list-reset">
      <li class="hero__parthers-item">
        <a class="hero__parthers-link" href="#0" target="_blank">
          <img class="hero__parthers-img" src="img/parthers-1.svg" alt="Apple" loading="lazy" width="100" height="35">
        </a>
      </li>
      <li class="hero__parthers-item">
        <a class="hero__parthers-link" href="#0" target="_blank">
          <img class="hero__parthers-img" src="img/parthers-2.svg" alt="Spotify" loading="lazy" width="100" height="30">
        </a>
      </li>
      <li class="hero__parthers-item">
        <a class="hero__parthers-link" href="#0" target="_blank">
          <img class="hero__parthers-img" src="img/parthers-3.svg" alt="Amazon" loading="lazy" width="100" height="30">
        </a>
      </li>
      <li class="hero__parthers-item">
        <a class="hero__parthers-link" href="#0" target="_blank">
          <img class="hero__parthers-img" src="img/parthers-4.svg" alt="Youtube" loading="lazy" width="100" height="22">
        </a>
      </li>
    </ul>
  </div>
</section>
