<section class="specs section-offset" id="specs">
  <div class="container">
    <h2 class="specs__title title text-gradient">Specs</h2>
    <div class="specs__wrapper">
      <ul class="specs__list list-reset" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1000">
        <li class="specs__item specs__item--bluetooth">
          <h3 class="specs__subtitle">Connection</h3>
          <p class="specs__descr">Bluetooth v5.2</p>
        </li>
        <li class="specs__item specs__item--battery">
          <h3 class="specs__subtitle">Battery</h3>
          <p class="specs__descr">Duration 40h</p>
        </li>
        <li class="specs__item specs__item--load">
          <h3 class="specs__subtitle">Load</h3>
          <p class="specs__descr">Fast charge 4.2-AAC</p>
        </li>
        <li class="specs__item specs__item--micro">
          <h3 class="specs__subtitle">Microphone</h3>
          <p class="specs__descr">Supports Apple Siri and Google</p>
        </li>
      </ul>
      <picture>
        <source media="(min-width: 576px)" srcset="img/specs-image_2x.webp 2x" type="image/webp">
        <source media="(max-width: 575px)" srcset="img/specs-image.webp" type="image/webp">
        <source srcset="img/specs-image.webp" type="image/webp">
        <img loading="lazy" src="img/specs-image.png" srcset="img/specs-image__2x.png 2x" class="specs__image"
          width="300" height="325" alt="Beats 3 turned microphone forward">
      </picture>
    </div>
  </div>
</section>
